body {
    margin: 0;
    padding: 2px;
    padding-top: 0px;
    background-color: #151f28;
    font-family: Arial, Helvetica, sans-serif;

}

h1, h2, h3 {
    color: white;
}


header h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px white;
}

p {
    color: white;
    font-size: 20px;
    /* letter-spacing: 2px; */
}

section {
    height: 600px;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    align-items: center;
}

#navbar ul {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    list-style-type: none;
    
}

#navbar ul li {

}

#navbar ul a {
    color: white;
    font-size: 30px;
    padding-left: 25px;
    text-decoration: none;
    
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 30px;
    padding-left: 25px;
    border: none;
    cursor: pointer;
    
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    outline: none;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /*top: -40px;
    left: 40px;*/
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b5b2b5;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}